<main class="bg">

    <form id="Ingredientchecker" name="Ingredientchecker" action="http://localhost:3000/abcd" method="POST" >
        <label for = "Event_Name"><h2>Name of the event</h2></label>
        <input type="textbox" name="EventName" id="EventName"><br>
        <label for = "Description"><h2>Description</h2></label>
        <input type="textbox" name="Description" id="Description"><br>
        <label for = "Location"><h2>Location</h2></label>
        <input type="textbox" name="Location" id="Location"><br>
        <label for = "Category"><h2>Category</h2></label>
        <input type="textbox" name="Category" id="Category"><br>
        <label for = "DateofEvent"><h2>Date</h2></label>
        <input type="textbox" name="DateofEvent" id="DateofEvent"><br>
        <input type="submit" value="SEARCH" />
    </form>

    <footer>    
        <hr>
            <p class="footerp"><span>EventCamp</span></p>
    </footer>

</main>