<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="style.css" >

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- USERPIC -->
				<div class="profile-userpic">
					<img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Joe 
					</div>
					<div class="profile-usertitle-job">
						Voluteer/Host
					</div>
				</div>

				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">EDIT</button>
					<button type="button" class="btn btn-danger btn-sm">DELETE</button>
				</div>

				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							My Events </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Events </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">


							<form method='post', action='/register',enctype='multipart/form-data'> 
        				<label for="fname"> First Name  </label> 
        				<input type="textbox" name="fname" id="fname" placeholder='Enter First Name'><br>

        				<label for="lname"> Last Name  </label> 
        				<input type="textbox" name="lname" id="lname" placeholder='Enter Last Name'><br>

        				<label for="email"> Email  </label> 
        				<input type="email" name="email" id="email" placeholder='Enter your email addrrss'><br>

        				<label for="uname"> User Name  </label> 
        				<input type="textbox" name="uname" id="uname" placeholder='Enter User Name'><br>

        				
        				<label for="dob"> Date of Birth  </label> 
        				<input type="textbox" name="dob" id="dob" placeholder='Enter Date of birth'><br>

        				<label for="pnumber"> Phone number  </label> 
        				<input type="textbox" name="pnumber" id="pnumber" placeholder='Enter Phone Number'><br>	

            </div>
		</div>
	</div>
</div>
<center>
<strong> <a href="" target="_blank"></a></strong>
</center>
<br>
<br>
